<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/main.css" rel="stylesheet">
    <title>About - Historic Canada</title>
</head>
<body class="bg-gray-100 font-roboto">
    <%- include('./partials/navbar', {page: '/about'}) %>
    <div class="container mx-auto py-10 text-center">
        <h1 class="text-4xl font-bold font-poppins">About Us</h1>
        <p class="mt-4">This website showcases national historic sites across Canada.</p>
    </div>
</body>
</html>
